body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: larger;
    line-height: 2rem;
    padding: 1rem;
    background-color: palegreen;
    text-align: center;
}

li {
    margin: 0.5rem;
}

nav > a {
    margin: 1.5rem;
    font-size: x-large;
}