<!DOCTYPE html>
<html>
    <head>
        <title>Malle210</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h2>{{ title }}</h2>
        <p>{{ message }}</p>
        <ul class="spaced">
            {% if connected %}
                <li><a href="{{ url_for('status') }}">status info</a></li>
                <li><a href="{{ url_for('disconnect') }}">disconnect "{{device_name}}"</a></li>
                <li><a href="{{ url_for('mute_all') }}">CC#120 (mute) to all channels</a></li>
                <li><a href="{{ url_for('all_note_off') }}">Note Off to every note in the universe</a></li>
                <li><a href="{{ url_for('test_notes') }}">Test Brauner Ton on all Channels</a></li>
                <li><a href="{{ url_for('start_mayhem') }}">Start Mayhem (the concept, not the band)</a></li>
            {% else %}
                <li>Disconnected. List devices <a href="{{ url_for('list_devices') }}">over here</a></li>
            {% endif %}
        </ul>
        <pre>{{ footer | safe }}</pre>
    </body>
</html>