<!DOCTYPE html>
<html>
    <head>
        <title>Malle210: devices</title>
        <link rel="stylesheet" href="/css/main.css">
        {% if refresh is defined %}
            <meta http-equiv="refresh" content="{{refresh}}">
        {% endif %}
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", event => {
                setTimeout(() => {
                    window.scrollTo(0, document.body.scrollHeight);
                }, 200);
            });
        </script>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ message | safe }}</p>
        <ul style="list-style:none;">
            {% for item in list %}
                <li>
                    {% if item['href'] is defined %}
                        <a href="{{ item['href'] }}" onclick="document.body.style.cursor='wait';">
                            {{ item['title'] }}
                        </a>
                    {% else %}
                        {{ item['title'] }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if footer is defined %}
            {{ footer | safe }}
        {% endif %}
    </body>
</html>
