<!DOCTYPE html>
<html>
    <head>
        <title>Malle210: Mayhem.</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script>
            let elem = null;
            const setTime = (text) => {
                if (!elem) {
                    elem = document.getElementById('time');
                }
                elem.innerText = text;
            }
            setInterval(() =>
                fetch('/time_sec')
                    .then(r => r.text())
                    .then(setTime)
                    .catch(err => setTime("Error: " + err.message)),
                2000
            )
        </script>
    </head>
    <body>
        <h1>Malle is playing.</h1>
        <p>Playing: <span id="time">{{ time_sec | safe }}</span> s</p>
        <ul style="list-style:none;">
            {% for item in list %}
                <li>
                    {% if href is defined %}
                        <a href="{{href[loop.index0]}}" onclick="document.body.style.cursor='wait';">
                            {{item}}
                        </a>
                    {% else %}
                        {{ item }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if footer is defined %}
            {{ footer | safe }}
        {% endif %}
        <a href="/">to index (stop)</a>
    </body>
</html>
